body {
    margin: 0;
    padding: 0;
}

@media (min-width: 0px) {
    #map {
        position: absolute;
        top: 110px;
        bottom: 0;
        width: 100%;
    }

    #mapSideBar {
        width: 100%;
        background: black;
        height: 110px;
        position: absolute;
        top: 0;
    }
}

@media (min-width: 768px) {
    #map {
        // top: 10%;
        // height: 90%;
    }

    #mapSideBar {
        //height: 10%;
    }
}

@media (min-width: 1024px) {
    #map {
        top: 0;
        bottom: 0;
        right: 0;
        width: 75%;
        height: 100%;
    }

    #mapSideBar {
        width: 25%;
        height: 100%;
        left: 0;
    }
}