.hotelCard {
    background: $mainThemeColor;
    color: $mainThemeColorDark;

    @media (min-width: 0px) {
        padding: 17px;
    }

    @media (min-width: 768px) {
        padding: 20px 34px;
    }

    @media (min-width: 1024px) {
        padding: 10px 13px;
    }

    &__showExtra {
        float: right;
        color: white;

        @media (min-width: 0px) {
            margin-top: 23px;
            font-size: 22px;
        }

        @media (min-width: 768px) {
            font-size: 25px;
        }

        @media (min-width: 1024px) {
            margin: 0;
            font-size: 14px;
            padding-top: 5px;
        }

        @media (min-width: 1366px) {
            font-size: 16px;
        }
    }

    &__extra {
        border-top: 1px solid $mainThemeColorDark;
        opacity: 0;
        max-height: 0;
        padding: 0;
        -moz-transition: opacity .3s, max-height .3s, padding .3s;
        -ms-transition: opacity .3s, max-height .3s, padding .3s;
        transition: opacity .3s, max-height .3s, padding .3s;

        &.active {
            opacity: 1;
            max-height: initial;

            @media (min-width: 0px) {
                padding: 17px;
            }
            @media (min-width: 768px) {
                padding: 20px 34px;
            }
    
            @media (min-width: 1024px) {
                padding: 10px 13px;
            }
        }
    }

    @media (min-width: 0) {
        &__main:before {
            content: '';
            width: 10px;
            height: 75px;
            background-color: $mainThemeColorDark;
            position: absolute;
            left: 0;
            top: 20px;
        }

        &__name {
            font: 18px/22px $mainFont;
            color: white;
        }

        &__address {
            font: 16px/16px $mainFont;
            color: $mainThemeColorDark;
        }
    }

    @media (min-width: 768px) {
        &__main:before {
            width: 20px;
        }

        &__name {
            font: 24px/24px $mainFont;
        }

        &__address {
            font: 18px/17px $mainFont;
        }
    }

    @media (min-width: 1024px) {
        &__main:before {
            width: 6px;
            height: 65px;
            top: 15px;
        }

        &__name {
            font: 16px/22px $mainFont;
        }

        &__address {
            font: 12px/14px $mainFont;
        }
    }

    @media (min-width: 1366px) {
        &__main:before {
            width: 7px;
            height: 72px;
        }

        &__name {
            font: 18px/24px $mainFont;
        }

        &__address {
            font: 14px/16px $mainFont;
        }
    }
}