.nearestFeatures {

    @media (min-width: 0px) {
        display: -webkit-box;
        display: flex;
        margin-top: 15px;

        &__distance {
            display: inline-block;
            padding: 4px 15px 4px 4px;
            font: 13px/15px $mainFont;
        }

        &__icon {
            color: white;
        }
    }

    @media (min-width: 768px) {
        margin-top: 10px;

        &__distance {
            padding: 0 20px 0 5px;
            font: 16px/19px $mainFont;
        }

        &__icon {
            color: white;
        }
    }

    @media (min-width: 1024px) {
        margin-top: 10px;

        &__distance {
            font: 12px/14px $mainFont;
        }
    }

    @media (min-width: 1366px) {

        &__distance {
            padding: 10px;
            font: 14px/16px $mainFont;
        }
    }
}