<template>
  <div>
    <app-map></app-map>
    <app-mapSideBar></app-mapSideBar>
  </div>
</template>

<script>

import Map from './Map'
import MapSideBar from './MapSideBar'

export default {
  data () {
    return {
      
    }
  },
  components: {
    appMap: Map,
    appMapSideBar: MapSideBar
  }
}
</script>

<style scoped>

</style>
