<template>
  <div id="map"></div>
</template>

<script>

import mapboxgl from 'mapbox-gl';
import Vue from 'vue'
import categset from '../plugins/categset';
import tylelayer from '../plugins/tileLayer';

export default {
  data () {
    return {

    }
  },
  computed: {
    homeFeatures () {
      return this.$store.state.homeFeatures
    },
    mainHomeFeature () {
      return this.$store.getters.mainHomeFeature
    },
     poisLayers () {
      return this.$store.state.pois_layers
    }
  },
  mounted () {
    let accessToken = 'pk.eyJ1IjoibWF4a2V5IiwiYSI6ImEyNWQ3MGZlZjVmNmVhY2MxZWNjM2U2ZWY0OWNkZGJkIn0.GD8SIK1BQKJYIE4KlhptHw'
    mapboxgl.accessToken = accessToken
    window.map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [this.mainHomeFeature.lon, this.mainHomeFeature.lat],
        zoom: 13
    });
    let poisLayers = this.poisLayers
    Vue.use(categset)
    Vue.use(tylelayer)
    this.$categset.add("101000000");
    this.$categset.add("101000000");
    this.$categset.add("102010000");
    this.$categset.add("103000000");
    this.$categset.add("104000000");
    this.$categset.add("107000000");
    this.$categset.add("300000000");
    this.$categset.add("502000000");
    this.$categset.add("503000000");
    map.on('style.load', function() {
      map.addSource('otmpoi', {
        type: "vector",
        "url": "https://opentripmap.com" + "/src/" + "ru" + "?l=p&r=1&h=0&k=" + "101000000,102010000,103000000,104000000,107000000,300000000,502000000,503000000"
      });
      map.addLayer(poisLayers.pois_label);
      map.addLayer(poisLayers.pois_point);
      map.addLayer(poisLayers.pois_icons);
    });
  }
}
</script>

<style scoped>

</style>
