<template>
  <div id="mapSideBar">
    <div v-for="(hotel, index) in homeFeatures" :key="index">
      <div :class="'hotelCard ' + (hotel.default ? 'hotelCard__main' : 'hotelCard__extra')">
        <font-awesome-icon
          :icon="hideHotels ? 'chevron-down' : 'chevron-up'"
          class="hotelCard__showExtra" v-if="hotel.default"
          @click="showHotels" />
        <div class="hotelCard__name">{{ hotel.properties.name }}</div>
        <div class="hotelCard__address">{{ hotel.properties.address }}</div>
        <div class="nearestFeatures">
          <div v-for="(nearestFeatures, index) in hotel.nearestFeatures" :key="index" class="nearestFeatures__feature">
            <font-awesome-icon
              icon="bus-alt"
              class="nearestFeatures__icon"
              v-if="nearestFeatures.type === 'bus station'" />
            <font-awesome-icon
              icon="mug-hot"
              class="nearestFeatures__icon"
              v-if="nearestFeatures.type === 'cafe'" />
            <font-awesome-icon
              icon="store-alt"
              class="nearestFeatures__icon"
              v-if="nearestFeatures.type === 'supermarket'" />
            <div class="nearestFeatures__distance">{{ nearestFeatures.distance }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      hideHotels: true
    }
  },
  computed: {
    homeFeatures () {
      return this.$store.state.homeFeatures
    },
    mainHomeFeature () {
      return this.$store.getters.mainHomeFeature
    }
  },
  methods: {
    showHotels () {
      this.hideHotels = !this.hideHotels;
      let extraHotels = document.querySelectorAll('.hotelCard__extra');
      extraHotels.forEach(element => element.classList.toggle('active'));
    }
  },
  mounted () {
    
  }
}
</script>

<style scoped>

</style>
