<template>
  <div id="app">
    <app-layout>
    </app-layout>
  </div>
</template>

<script>

import Layout from './components/Layout'

export default {
  data () {
    return {

    }
  },
  components: {
    appLayout: Layout
  }
}
</script>

<style>
#app {
}
</style>
